<?xml version="1.0"?>
<ENR_IN>
  <EPA_NR_PROJECT rid="#1">
    <id/>
    <blg_use>{{ blg_use }}</blg_use>
    <blg_part>{{ blg_part }}</blg_part>
    <building_num>{{ building_num }}</building_num>
    <blg_kaek/>
  </EPA_NR_PROJECT>
  <LIBRARIES rid="#2">
    <id>Lib</id>
    <lib_const>C:\Program Files (x86)\TEE\TEE_KENAK_1_31\EnrConstGr.xml</lib_const>
    <lib_clim>C:\Program Files (x86)\TEE\TEE_KENAK_1_31\EnrClimateGR.xml</lib_clim>
    <lib_fuel>C:\Program Files (x86)\TEE\TEE_KENAK_1_31\EnrFuelGr.xml</lib_fuel>
  </LIBRARIES>
  <BUILDING rid="1">
    {% for param in range(1,10) -%}
    <blg_parameter{{ loop.index }}>{{ "" }}</blg_parameter{{loop.index}}>
    {% endfor -%}
    <blg_parameter11>{{blg_parameter11}}</blg_parameter11>
    <blg_parameter12>{{blg_parameter12}}</blg_parameter12>
    <blg_parameter13>{{blg_parameter13}}</blg_parameter13>
    <blg_parameter14>{{blg_parameter14}}</blg_parameter14>
    <blg_parameter15>{{blg_parameter15}}</blg_parameter15>
    {% for param in range(15,35)  -%}
    <blg_parameter{{ loop.index+15 }}>{{ "" }}</blg_parameter{{loop.index+15}}>
    {% endfor -%}
  {% for i in range(1,(blg_parameter11|int)+1) -%}
    <ZONE{{loop.index}} rid="1">
      {% for param in range(1,6) -%}
      <zn_parameter{{ loop.index }}>{{"" }}</zn_parameter{{loop.index }}>
      {% endfor -%}
      <zn_parameter6>{{zn_parameter6z1}}</zn_parameter6>
      {% for param in range(7,12) -%}
      <zn_parameter{{loop.index+7 }}>{{"" }}</zn_parameter{{loop.index+7 }}>
      {% endfor -%}
      <zn_parameter13>False</zn_parameter13>
      <zn_parameter14>2</zn_parameter14>
      <zn_parameter15>1</zn_parameter15>
      <ENVELOPE rid="1">

        <opaque_rows>{{ "opaque_rowsz{}" .format(loop.index) }}</opaque_rows>
        {# note <opaque_rows>{{opaque_rowsz}}{{loop.index}}</opaque_rows> #}
        {% for param in range (1,16) %}
        <opaque_column{{loop.index}}>{{opaque_column}}{{loop.index}}z{{i}}</opaque_column{{loop.index}}>
        {% endfor -%}
        <opaque_column16>,,,,,,,,,,,,,,</opaque_column16>
        <ground_rows>0</ground_rows>
        <ground_column1/>
        <ground_column2/>
        <ground_column3/>
        <ground_column4/>
        <ground_column5/>
        <ground_column6/>
        <ground_column7/>
        <ground_column8/>


        <transparent_rows>{{transparent_rows}}z{{loop.index}}</transparent_rows>
        {% for param in range (1,16) -%}
        <transparent_column{{loop.index}}>{{transparent_column}}{{loop.index}}z{{i}}</transparent_column{{loop.index}}>
        {% endfor -%}

        </ENVELOPE>
      <SYSTEM rid="1">
        <heating rid="1">
        </heating>
        <cooling rid="1">
        </cooling>
        <humidification rid="1">
        </humidification>
        <ahu rid="1">
        </ahu>
        <dhw rid="1">
        </dhw>
        <solar_collector rid="1">
        </solar_collector>
        <lighting rid="1">
        </lighting>
      </SYSTEM>
    </ZONE{{loop.index}}>
  {% endfor -%}

  </BUILDING>
</ENR_IN>
